body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: black;
    text-decoration: underline;
}

a{
    position: fixed;
    left: 70px;
    color: black
}

img{
    position: fixed;
    left: 30px;
}
